.herobox2 {
  height: 600px;
  padding: 20px;
  background-color: white;
}

.herobox2-container {
  border: 1px solid lightgray;
  height: 550px;
  display: grid;
  grid-template-columns: 1fr;
}

.herobox2-part1 {
  padding: 20px;

}

.herobox2-part1 h1 {
  font-size: 1.7rem;
}

.herobox2-part1 p {
  margin-top: 6px;
  width: 900px;
  color: black;
  font-size: 1.2rem;
}

.herobox2-part1 a {
  margin-top: 15px;
  width: 135px;
  height: 43px;
  background-color: white;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  transition: background-color 0.15s;
}

.herobox2-part1 a:hover {
  background-color: #0c2a2b11;
}

/* Part2 */

.herobox2-part2 {
  display: flex;
  max-width: 100%;
  position: relative;
}

.hero-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  /* column-gap: 10px; */
  
}

.card {
  cursor: pointer;
}

.img-container {
  position: relative;

}
.top-select {
  position: absolute;
  top: 0;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 6px 10px;
  font-weight: 700;
  border: 0.1mm solid lightgray;
}

.img-con {
  width: 20px;
  margin-top: 5px;
  margin-right: 2px;
}

.img-con img {
  width: 40px;
}

.card-img-top2 {
  box-shadow: 1px 0px 1px black;
}

.card-title {
  width: 260px;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.card-subtitle {
  color: gray;
  font-size: 0.9rem;
  font-weight: 400;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: start;
}

.rating p {
  color: rgb(170, 99, 17);
  font-weight: 800;
}

.stars {
  margin-right: 3px;
  margin-left: 3px;
  margin-top: 4px;
}

.responds {
  font-size: 0.8rem;
  color: rgb(75, 75, 75);
}

.card-price {
  font-size: 1.4rem;
  font-weight: 800;
}

.bestseller {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3d3c0a; 
  background-color: #eceb98;
  width: 85px;
  height: 23px;
  font-weight: 700;
  border-radius: 1px;
  margin-top: 10px;
  font-size: 0.9rem;
}