.notification-slab {
  height: 65px;
  background-color: #5624D0;
  display: grid;
  grid-template-columns: 1fr 50px;
  color: white;
}

.notification-spot {
  display: flex;
  justify-content: center;
  align-items: center;
}


.notification-slab h1 {
  color: white;
  font-weight: 700;
  font-size: 1.1rem;
}

.notification-slab p {
  font-size: 1.1rem;
  /* margin-top: 8px; */
}

.exit {
  display: flex;
  justify-content: end;
  align-items: center;
  font-weight: 700;
  margin-right: 20px;
  cursor: pointer;
}






header {
  background-color: white;
  height: 80px;
  display: grid;
  grid-template-columns: 150px 120px 1fr 310px 310px;
  box-shadow: 0px 1px 10px gray;
  z-index: 1;
}

header a:hover {
  color: #5624d0;

}

.header-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mylogo {
  background-color: transparent;
}

.mylogo img {
  width: 100px;
}

.mycat {
  background-color: transparent;
  justify-content: start;
  padding-left: 10px;
}


.search-container {
  background-color: transparent;
}

.search-wrap {
  background-color: #0c2a2b11;
  flex: 1;

  /* min-width: 470px; */
  min-height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  border: 1px solid black;
}

.myvoice {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: black;
  height: 30px;
  width: 30px;
  cursor: not-allowed;
  background-color: transparent;
  margin-left: 10px;
}

.myvoice svg {
  width: 20px;
  height: 20px;
  color: gray;

}

.search-bar {
  
  min-width: 420px;
  height: 43px;
  border: none;
  outline:none;
  background-color: #d9d9d900;
  padding-left: 20px; 
}

.teach-container {
  background-color: transparent;
}

.teach {
  display: flex;
  justify-content: space-evenly;
  white-space: nowrap;
}

.teach a {
  margin-right: 18px;
}

.user-use {
  justify-content: start;
  background-color: transparent;
}

.user-use button {
  margin-right: 10px;
}

.cart {
  margin-right: 30px;
  transition: color 0.15s;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.cart:hover {
  color: #5624d0;
}

.log-in {
  width: 80px;
  height: 38px;
  border: 1px solid black;
  background-color: white;
  font-weight: 700;
  transition: background-color 0.15s;
  cursor: pointer;
}

.log-in:hover {
  background-color: #0c2a2b11;

}

.sign-up {
  width: 80px;
  height: 38px;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.800);
  font-weight: 700;
  color: white;
  cursor: pointer;
  transition: background-color 0.15s;

}

.sign-up:hover {
  background-color: black;
}

.globe {
  width: 50px;
  height: 38px;
  border: 1px solid black;
  background-color: white;
  transition: background-color 0.15s;
  cursor: pointer;

}

.globe:hover {
  background-color: #0c2a2b11;
}