main {
  background-color: red;
  min-height: 1000px;
}

/* herbox1 */
.herobox1 {
  background-color: white;
  height: 405px;
  padding-left: 5px;
  padding-right: 5px;
}

.img-1 {
  position: relative;
}

.img-2 {
  position: relative;
}

.make-abs {
  position: absolute;
  left: 100px;
  width: 430px;
  height: 150px;
  background-color: white;
  top: 15%;
  padding: 20px;
}

.text h1 {
  color: black;
  font-size: 2.2rem;
}

.myh3 {
  margin-top: 10px;
  font-size: 1.3rem;
  width: 430px;
}

.make-abs2 {
  position: absolute;
  left: 100px;
  width: 430px;
  min-height: 150px;
  background-color: white;
  top: 15%;
  padding: 20px;
}

.make-abs2 p {
  margin-top: 10px;
  line-height: 23px;
  width: 380px;
  font-size: 1.1rem;
}

.make-abs2 p a {
  text-decoration: underline;
  color: #401B9C;
}

.request-demo {
  border: none;
  position: absolute;
  left: 74px;
  bottom: 13%;
  background-color: #A535F1;
  width: 148px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.request-demo a {
  font-size: 1.1rem;
  margin-top: 4px;
  font-weight: 700;
  color: white;
}

/* Herobox2 */
.intersection-heading {
  height: 170px;
  background-color: white;
  padding: 30px;
}

.intersection-wrap h1 {
  font-size: 2.4rem;
}

.intersection-wrap p {
  margin-top: 10px;
  font-size: 1.3rem;
}

.button-wrap {
  margin-top: 15px;
}

.button-wrap button {
  background-color: transparent;
  border: none;
  font-weight: 700;
  margin-right: 20px;
  font-size: 1rem;
  cursor: pointer;
  color: gray;
  transition: color 0.15s;
  height: 40px;
}

.button-wrap button:hover {
  color: black;
}

/* herobox2 */
.herobox2 {
  height: 600px;
  padding: 20px;
  background-color: white;
}

.herobox2-container {
  border: 1px solid lightgray;
  height: 550px;
  display: grid;
  grid-template-columns: 1fr;
}

.herobox2-part1 {
  padding: 20px;

}

.herobox2-part1 h1 {
  font-size: 1.7rem;
}

.herobox2-part1 p {
  margin-top: 6px;
  width: 900px;
  color: black;
  font-size: 1.2rem;
}

.herobox2-part1 a {
  margin-top: 15px;
  width: 135px;
  height: 43px;
  background-color: white;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  transition: background-color 0.15s;
}

.herobox2-part1 a:hover {
  background-color: #0c2a2b11;
}

/* Part2 */

.herobox2-part2 {
  display: flex;
  max-width: 100%;
  position: relative;
}

.hero-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  /* column-gap: 10px; */
  
}

.card {
  cursor: pointer;
}

.img-container {
  position: relative;

}
.top-select {
  position: absolute;
  top: 0;
  background-color: rgb(126, 110, 106);
  display: flex;
  align-items: center;
  justify-content: start;
  color: white;
  width: 100px;
  height: 40px;
  font-weight: 700;
}

.img-con {
  width: 20px;
  margin-right: 14px;
}

.img-con img {
  width: 40px;
  /* background-color: #A535F1; */
}

.card-img-top2 {
  box-shadow: 1px 0px 1px black;
}

.card-title {
  width: 260px;
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.card-subtitle {
  color: gray;
  font-size: 0.9rem;
  font-weight: 400;
}

.rating {
  display: flex;
  align-items: center;
  justify-content: start;
}

.rating p {
  color: rgb(170, 99, 17);
  font-weight: 800;
}

.stars {
  margin-right: 3px;
  margin-left: 3px;
  margin-top: 4px;
}

.responds {
  font-size: 0.8rem;
  color: rgb(75, 75, 75);
}

.card-price {
  font-size: 1.4rem;
  font-weight: 800;
}

.bestseller {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3d3c0a; 
  background-color: #eceb98;
  width: 85px;
  height: 23px;
  font-weight: 700;
  border-radius: 1px;
  margin-top: 10px;
  font-size: 0.9rem;
}