main {
  background-color: red;
  min-height: 1000px;
}

/* herbox1 */
.herobox1 {
  background-color: white;
  height: 405px;
  padding-left: 5px;
  padding-right: 5px;
}

.img-1 {
  position: relative;
}

.img-2 {
  position: relative;
}

.make-abs {
  position: absolute;
  left: 100px;
  width: 430px;
  height: 150px;
  background-color: white;
  top: 15%;
  padding: 20px;
}

.text h1 {
  color: black;
  font-size: 2.2rem;
}

.myh3 {
  margin-top: 10px;
  font-size: 1.3rem;
  width: 430px;
}

.make-abs2 {
  position: absolute;
  left: 100px;
  width: 430px;
  min-height: 150px;
  background-color: white;
  top: 15%;
  padding: 20px;
}

.make-abs2 p {
  margin-top: 10px;
  line-height: 23px;
  width: 380px;
  font-size: 1.1rem;

}

.make-abs2 p a {
  text-decoration: underline;
  color: #401B9C;
}

.request-demo {
  border: none;
  position: absolute;
  left: 75px;
  bottom: 14%;
  background-color: #A535F1;
  width: 148px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.request-demo a {
  font-size: 1.1rem;
  margin-top: 4px;
  font-weight: 700;
  color: white;
}



/* Herobox2 */

.intersection-heading {
  height: 170px;
  background-color: white;
  padding: 30px;
}



.intersection-wrap h1 {
  font-size: 2.4rem;
}

.intersection-wrap p {
  margin-top: 10px;
  font-size: 1.3rem;
}

.button-wrap {
  margin-top: 15px;
}

.button-wrap button {
  background-color: transparent;
  border: none;
  font-weight: 700;
  margin-right: 20px;
  font-size: 1rem;
  cursor: pointer;
  color: gray;
  transition: color 0.15s;
  height: 40px;

}

.button-wrap button:hover {
  color: black;
}

.herobox2 {
  height: 600px;
  padding: 20px;
  background-color: white;
}

.herobox2-container {
  padding: 20px;
  border: 1px solid lightgray;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr;
}

.herobox2-part1 h1 {
  font-size: 1.7rem;
}

.herobox2-part1 p {
  margin-top: 6px;
  width: 720px;
  color: rgb(90, 90, 90);
}

.herobox2-part1 a {
  margin-top: 15px;
  width: 120px;
  height: 40px;
  background-color: white;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}